<div class="sidebar col-lg-4">
    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span> Unnest.</span></h3>
        </div><!-- end widget-title -->

        <div class="about-widget text-center">
            <div class="entry">
                <img src="{{ url_for('static', filename='images/site_identity/about.png') }}" alt="About me" class="rounded-circle img-fluid">
                <div class="magnifier rd bg">
                    <a href="page-about.html" class="btn btn-primary">View Profile</a>
                </div>
            </div>

            <p>Greetings little wanderer.👽 Welcome to Unnest. Just some stuff about SQL, Python and data you may find a wee bit interesting.</p>

            <div class="blog-social">
                <a href="https://www.linkedin.com/in/melissacraxton/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Follow on Linkedin">
                    <div class="socibox">
                        <span class="fa fa-linkedin"></span>
                    </div>
                </a>
                <a href="https://github.com/MelCraxton" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Follow on github">
                    <div class="socibox">
                        <span class="fa fa-github"></span>
                    </div>
                </a>
                <hr>
            </div><!-- end blog-social -->
        </div><!-- end about -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span>Advertise</span></h3>
        </div><!-- end widget-title -->
        <a href="#"><img src="{{ url_for('static', filename='upload/banner.jpg') }}" alt="" class="img-fluid"></a>
    </div><!-- end widget -->

    <div class="widget clearfix">
    <blockquote class="blockquote">
        “Without data you're just another person with an opinion.” - W.Edwards Deming
    </blockquote>
    </div>


    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span>Follow on Instagram</span></h3>
        </div><!-- end widget-title -->
        <div class="instagram-wrapper clearfix">
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_01.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_02.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_03.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_04.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_05.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_06.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_07.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_08.jpeg') }}" alt="" class="img-fluid"></a>
            <a href="#"><img src="{{ url_for('static', filename='upload/insta_09.jpeg') }}" alt="" class="img-fluid"></a>
        </div><!-- end Instagram wrapper -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span>Blog Categories</span></h3>
        </div><!-- end widget-title -->

        <div class="category-widget">
            <ul>
                <li><a href="#">Concepts</a></li>
                <li><a href="#">SQL</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div><!-- end category -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span>Latest Posts</span></h3>
        </div><!-- end widget-title -->

        <div class="blog-list-widget">
            <div class="list-group">
                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="upload/insta_09.jpeg" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">A Beautiful Minimal Website Design</h5>
                        <small>12 Jan, 2016</small>
                    </div>
                </a>

                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="upload/insta_01.jpeg" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">How to make best typography</h5>
                        <small>11 Jan, 2016</small>
                    </div>
                </a>

                <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 last-item justify-content-between">
                        <img src="upload/insta_03.jpeg" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">Welcome to the board, we are Matilda</h5>
                        <small>07 Jan, 2016</small>
                    </div>
                </a>
            </div>
        </div><!-- end blog-list -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><span>Categories</span></h3>
        </div><!-- end widget-title -->

        <div class="tag-widget">
            <a href="#">Python</a>
            <a href="#">SQL</a>
            <a href="#">Concepts</a>
            <a href="#">Other</a>
        </div><!-- end tag-widget -->
    </div><!-- end widget -->
</div><!-- end sidebar -->